.about-section {
    position: relative;
    background-color: #1d1d1d;
    overflow: hidden;
}

.about-container {
    position: relative;
    border-radius: 10px;
    margin: auto;
    top: -50px;
    background-color: #afb3b868;

}

.about-me-photo {
    width: 70%;
    max-width: 350px;
    background: linear-gradient(145deg, #b8b4af, #1d1d1d);
    transform: translateY(30%);
    opacity: 0;
}

.about-me {
    background-color: rgb(251, 251, 251);
    padding: 20px;
    border-radius: 5px;
}

.about-photo-placeholder {
    position: relative;
    top: 0;
}

.about-me-signature {
    width: 40%;
    position: absolute;
    max-width: 200px;
    bottom: 40%;
    right: 60%;
    opacity: 0;
}

.about-section-inView .about-container { 
    rotate: -5deg;
    transition: rotate 1s ease-in-out;
    transition-delay: 2s;
    
}

.about-section-inView .about-me-photo {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}

.about-section-inView .about-me-signature {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: .8s;
}

.about-section-inView .about-me {
    rotate: 5deg;
    transition: rotate 1s ease-in-out;
    transition-delay: 2s;
}