.contact-information {
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 50px 0 50px;
    
    p {
        line-height: .5;
    }

    i {
        font-size: 1.1rem;
    }
}

.contact-section {
    padding: 30px 0 100px;
    background-color: #5a615b;
}