.menu-btn {
    height: 30px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    position: relative;

    .m-line {
        height: 4px;
        border-radius: 2px;
        background-color: rgb(46, 46, 46);
        pointer-events: none;
    }

    .l1 { width: 15px; transition: transform .2s ease-in-out; }
    .l2 { width: 30px; }
    .l3 { width: 20px; transition: transform .1s ease-in-out; }
}

.slide-menu-btn{
    .m-line:nth-child(1) {
        transform: translateX(-15px);
        transition: transform .2s ease-in-out;
    }
    .m-line:nth-child(3) {
        transform: translateX(-10px);
        transition: transform .1s ease-in-out;
    }
}

.menu-list {
    position: absolute;
    right: 50px;
    top: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.687);
    transform: translate(135px, -128px) scale(.10);
    opacity: 0;
    transition: all .2s ease-in-out;
    pointer-events: none;

    .nav-link {
        color: white;
        list-style: none;
    }
}

.open-menu {
    pointer-events: auto;
    transform: translate(0, 0) scale(1);
    opacity: 1;
    z-index: 1;
}

.logo {
    min-height: 108px;
    transform: translate(15%, 25px);
    background: linear-gradient(to top, #d0c8b96f , #b8b4af41 85%);
    border-radius: 0 0 8px 8px;
    transition: all 1s ease-in-out;
    color: rgb(68, 68, 68);

    .shake-hi {
        display: inline-block;
        animation: shake 2s ease-in-out;
        animation-delay: 3s;
    }
}

.logo-slideUp {
    padding-bottom: 18px !important;
    transform: translate(15%, -24px);
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-25px); }
    50% { transform: rotate(20deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotateY(160deg); }
}

@media (min-width: 992px) {
    header {
        height: 90px !important;
        flex-direction: column; 
    }

    .menu-btn {
        display: none;
    }

    .menu-list {
            border-radius: 10px;
            box-shadow: none;
            background-color: transparent;
            opacity: 1;
            transform: translate(0, 0) scale(1);
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            top: 18px;
            right: 5%;
            pointer-events: auto;

            .nav-link {
                color: rgb(68, 68, 68); 
                text-wrap: nowrap;

                &:hover {
                    color: #5a615b;
                }
            }
    }

    .logo {
        align-self: start;
        margin-left: 5%;
    }

    .logo-slideUp {
        padding-bottom: 32px !important;
        transform: translate(10%, -18px);
    }
}