@use 'navigation';
@use 'initial-brief-context';
@use 'experience';
@use 'skills-section';
@use 'contact-section';
@use 'about-section';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

header {
    height: 60px;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #b8b4af;
    top: 0;
};

.content-heading {
    font-size: 2.4rem;
    font-weight: 400;
    opacity: 0;
}

.content-heading-inView {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#educational-background {
    padding: 50px 20px;
    position: relative;
    z-index: 0;
}

.qoute-section {
    background-color: #5a615b;
    color: white;
    font-size: .8rem;
}

footer {
    background-color: #5a615b;
    margin-top: -20px;

    p {
        padding: 10px 20px 30px;
        margin: 0;
    }
}