.about-section {
    margin-bottom: -110px;
    position: relative;
    background-color: #1d1d1d;
    overflow: hidden;
}

.about-container {
    position: relative;
    border-radius: 10px;
    margin: 0 auto 100px;
    top: -50px;
    rotate: -5deg;
    background-color: #afb3b868;
}

.about-me-photo {
    width: 70%;
    max-width: 350px;
    background: linear-gradient(145deg, #b8b4af, #1d1d1d);
}

.about-me {
    background-color: rgb(251, 251, 251);
    rotate: 5deg;
    padding: 20px;
    border-radius: 5px;
}

.about-photo-placeholder {
    position: relative;
    top: 0;
}

.about-me-signature {
    width: 40%;
    position: absolute;
    max-width: 200px;
    bottom: 40%;
    right: 60%;
}