.experience-container {
    background-color: white;
}

.top-liner {
    width: 100%;
    position: relative;
    top: 0px;
}

.experience-heading {
    padding:  20px 0 40px;
}

.job-container {
    border-left: 3px solid #afb8b8;
    border-radius: 3px 0 0 0;
    margin-top: -20px;
}

.job-title {
    margin-bottom: 0;
    font-size: large;
    font-weight: 400;
    position: relative;

    &::before {
        content: '';
        height: 3px;
        width: 20px;
        background-color: #afb8b8;
        position: absolute;
        top: 10px;
        left: -27px;
    }
}

.job-background {
    font-size: .9rem;
    margin-bottom: 0;
    color: rgb(93, 93, 93);
}

.job-brief-description {
    margin-top: 8px;
    padding-bottom: 40px;
}