@use 'navigation';
@use 'initial-brief-context';
@use 'experience';
@use 'skills-section';
@use 'contact-section';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

header {
    height: 60px;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #b8b4af;
};

.content-heading {
    font-size: 2.4rem;
    font-weight: 400;
}

.about-container {
    border-radius: 15px;
    margin: 100px auto;
}

.about-section {
    margin-bottom: -110px;
    position: relative;
    background-color: #233037;
}