@use 'navigation';
@use 'initial-brief-context';
@use 'experience';
@use 'contact-section';

header {
    height: 60px;
};

.content-heading {
    font-size: 2.4rem;
    font-weight: 400;
}

.skills-heading {
    padding:  20px 0 20px;
}

.skills-container{
    padding: 30px;
    margin: 20px 0;
    border-radius: 15px;
    // box-shadow: 0 1px 20px lightgray;
    background-color: white;

    h6 {
        font-size: 1.1rem;
        text-indent: 10px;
        margin-bottom: 20px;
    }

    li {
        list-style: none;
        position: relative;
        margin-bottom: 10px;
    }
}

.skills-container-no-description {
    padding: 30px;
    margin: 20px 0;
    border-radius: 15px;
    // box-shadow: -2px 2px 20px lightgray;
    // background-color: #f4f4f4;
    
    h6 {
        font-size: 1.1rem;
        text-indent: 10px;
        margin-bottom: 20px;
    }

    li {
        list-style: none;
        position: relative;
        margin-bottom: 10px;
    }
}

.bi-check2-circle {
    color: green;
    position: absolute;
    left: -22px;
}

strong {
    font-weight: 600;
}

.about-container {
    border-radius: 15px;
    margin: 100px auto;
}

.about-section {
    margin-bottom: -110px;
    position: relative;
    background-color: #233037;
}